.full-body {
  display: flex; }

.rectangle {
  height: 115px;
  border-bottom: 2px solid #EFEFEF;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 768px) {
    .rectangle {
      width: 100%; }
      .rectangle img {
        display: none; } }
  .rectangle .text {
    display: flex;
    flex-direction: column;
    gap: 10px; }
  .rectangle .main-text {
    font-size: 25px; }
    @media only screen and (max-width: 768px) {
      .rectangle .main-text {
        font-size: 15px; } }

.main-container {
  display: flex; }
  @media only screen and (max-width: 768px) {
    .main-container {
      width: 100%;
      display: block; } }
  .main-container .main-side-container {
    width: 30%;
    border-right: 2px solid #EFEFEF; }
    @media only screen and (max-width: 768px) {
      .main-container .main-side-container {
        width: 100%;
        border-right: none;
        height: auto; } }
    .main-container .main-side-container .top-name {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 30px 0; }
    .main-container .main-side-container .side-button {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px; }
      .main-container .main-side-container .side-button .cards-1 {
        width: 90%;
        border-radius: 8px;
        border: 1px solid #E06A43;
        background: #FFF;
        overflow: hidden; }
        @media only screen and (max-width: 768px) {
          .main-container .main-side-container .side-button .cards-1 {
            width: 100%; } }
        .main-container .main-side-container .side-button .cards-1 .text {
          padding: 20px 30px;
          gap: 10px;
          display: flex;
          flex-direction: column; }
        .main-container .main-side-container .side-button .cards-1 .main-text {
          font-family: Satoshi;
          font-weight: 700; }
        .main-container .main-side-container .side-button .cards-1 .progress-bar {
          position: relative;
          height: 4px;
          width: 100%;
          background: #eaeaea;
          border-radius: 25px;
          margin-top: 5.5px; }
        .main-container .main-side-container .side-button .cards-1 .progress-fill {
          position: absolute;
          height: 4px;
          width: 33%;
          background: linear-gradient(270deg, #E06A43 10.34%, #EFC5B8 102.72%);
          border-radius: 15px; }
      .main-container .main-side-container .side-button .cards-2 {
        width: 90%;
        padding: 20px 30px;
        border-radius: 8px;
        border: 1px solid #EFEFEF;
        background: #FFF; }
        @media only screen and (max-width: 768px) {
          .main-container .main-side-container .side-button .cards-2 {
            width: 100%; } }
      .main-container .main-side-container .side-button .cards-3 {
        width: 90%;
        padding: 20px 30px;
        border-radius: 8px;
        border: 1px solid #EFEFEF;
        background: #FFF; }
        @media only screen and (max-width: 768px) {
          .main-container .main-side-container .side-button .cards-3 {
            width: 100%; } }
  .main-container .second-container {
    padding-top: 75px;
    padding-left: 75px;
    width: 70%; }
    @media only screen and (max-width: 768px) {
      .main-container .second-container {
        width: 100%;
        padding-top: 50px;
        padding-left: 0; } }
    .main-container .second-container .card-1 {
      display: flex;
      border-radius: 8px;
      border: 0px solid #EFEFEF;
      background: #F2FAF7;
      padding: 15px;
      justify-content: space-between;
      align-items: center; }
      .main-container .second-container .card-1 .image-text {
        display: flex;
        flex-direction: row;
        gap: 10px; }
        .main-container .second-container .card-1 .image-text .text {
          display: flex;
          flex-direction: column; }
        .main-container .second-container .card-1 .image-text .main-text {
          font-family: Satoshi;
          font-weight: 500; }
        .main-container .second-container .card-1 .image-text span {
          font-size: 12px; }
      .main-container .second-container .card-1 .message span {
        color: #00A25B;
        font-size: 12px;
        font-weight: 500; }
    .main-container .second-container .card-2 {
      border-radius: 8px;
      border: 1px solid #EFEFEF;
      background: #fff;
      margin-top: 30px; }
      .main-container .second-container .card-2 .card-body {
        padding: 0 15px 15px 15px; }
      .main-container .second-container .card-2 .card-down-body {
        display: none; }
      .main-container .second-container .card-2 .load {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center; }
      .main-container .second-container .card-2 .loading {
        border: 5px solid #f3f3f3;
        border-top: 5px solid #E06A43;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        animation: spin 2s linear infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
      .main-container .second-container .card-2 .row-2 {
        margin-top: 20px; }
      .main-container .second-container .card-2 .hr1 {
        margin-top: 50px; }
      .main-container .second-container .card-2 .submit {
        justify-content: end;
        display: flex; }
      .main-container .second-container .card-2 .padding {
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between; }
      .main-container .second-container .card-2 .image-text {
        display: flex;
        flex-direction: row;
        gap: 10px; }
        .main-container .second-container .card-2 .image-text img {
          background-color: #FFF1EC;
          border-radius: 25px;
          padding: 10px; }
        .main-container .second-container .card-2 .image-text .text {
          display: flex;
          flex-direction: column; }
        .main-container .second-container .card-2 .image-text .main-text {
          font-family: Satoshi;
          font-weight: 500; }
        .main-container .second-container .card-2 .image-text span {
          font-size: 12px; }
      .main-container .second-container .card-2 .pic-upload {
        margin: 30px 0;
        display: flex;
        width: 100%;
        padding: 16px 24px;
        border-radius: 8px;
        border: 1px dashed rgba(127, 136, 153, 0.5);
        justify-content: space-between; }
        @media only screen and (max-width: 768px) {
          .main-container .second-container .card-2 .pic-upload {
            display: block; } }
        .main-container .second-container .card-2 .pic-upload .image-text1 {
          display: flex;
          flex-direction: row;
          gap: 10px;
          width: 100%; }
          .main-container .second-container .card-2 .pic-upload .image-text1 .text {
            display: flex;
            flex-direction: column; }
          .main-container .second-container .card-2 .pic-upload .image-text1 .main-text {
            font-family: Satoshi;
            font-weight: 500;
            font-size: 14px; }
          .main-container .second-container .card-2 .pic-upload .image-text1 span {
            font-size: 12px; }
      .main-container .second-container .card-2 .button {
        display: flex;
        flex-direction: row;
        gap: 15px; }
        @media only screen and (max-width: 768px) {
          .main-container .second-container .card-2 .button {
            margin-top: 20px; } }
    .main-container .second-container .card-bottom {
      border-radius: 0px 0px 8px 8px;
      background: #F9F8FE;
      height: 40px;
      padding: 10px 15px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 30px; }
      .main-container .second-container .card-bottom .img-text {
        gap: 10px;
        display: flex; }
      .main-container .second-container .card-bottom span {
        font-size: 12px;
        font-weight: 500; }
      .main-container .second-container .card-bottom hr {
        width: 1px;
        height: 100%; }
    .main-container .second-container .card-3 {
      border-radius: 8px;
      border: 1px solid #EFEFEF;
      padding: 15px;
      margin-top: 30px;
      margin-bottom: 30px; }
      .main-container .second-container .card-3 .row-2 {
        display: none;
        margin-top: 50px;
        margin-left: 35px; }
        @media only screen and (max-width: 768px) {
          .main-container .second-container .card-3 .row-2 {
            width: 100%; }
            .main-container .second-container .card-3 .row-2 .col-md-5 {
              max-width: 100%;
              flex: 100%;
              margin-right: 20px; } }
        .main-container .second-container .card-3 .row-2 .hr {
          display: flex !important;
          align-items: center;
          gap: 20px;
          margin: 10px 0px; }
          .main-container .second-container .card-3 .row-2 .hr hr {
            width: 100%; }
        .main-container .second-container .card-3 .row-2 .persnol-button {
          width: 100%;
          background-color: white;
          color: #E06A43;
          border-radius: 8px;
          border: 1px solid rgba(127, 136, 153, 0.2); }
        .main-container .second-container .card-3 .row-2 .input-container {
          width: 100%;
          padding: 10px;
          border-radius: 8px;
          border: 1px solid rgba(127, 136, 153, 0.2);
          display: flex; }
          .main-container .second-container .card-3 .row-2 .input-container input:focus,
          .main-container .second-container .card-3 .row-2 .input-container input:active {
            outline: none; }
          .main-container .second-container .card-3 .row-2 .input-container input {
            width: 100%;
            border: none;
            padding: 0; }
          .main-container .second-container .card-3 .row-2 .input-container button {
            float: right;
            padding: 0 10px; }
      .main-container .second-container .card-3 .card-main {
        justify-content: space-between;
        align-items: center;
        display: flex; }
      .main-container .second-container .card-3 .image-text3 {
        display: flex;
        flex-direction: row;
        gap: 10px; }
        .main-container .second-container .card-3 .image-text3 .image1 {
          background: #F6F8FE;
          display: flex;
          height: 40px;
          width: 40px;
          align-items: center;
          justify-content: center;
          border-radius: 25px; }
        .main-container .second-container .card-3 .image-text3 .text {
          display: flex;
          flex-direction: column; }
        .main-container .second-container .card-3 .image-text3 .main-text {
          font-family: Satoshi;
          color: #7F8899;
          font-weight: 500; }
        .main-container .second-container .card-3 .image-text3 span {
          font-size: 12px; }
      .main-container .second-container .card-3 .image2 {
        background: #FEF6F6;
        display: flex;
        height: 40px;
        width: 40px;
        align-items: center;
        justify-content: center;
        border-radius: 25px; }
