.full-body {
  display: flex; }

.side-nav {
  background-color: #1E1E2D;
  width: 100px;
  height: 100vh; }
  .side-nav .logo {
    height: 70px;
    border-bottom: 1px solid #2D2D43; }
    .side-nav .logo img {
      position: relative;
      top: 25px;
      left: 18px; }
  .side-nav .icon {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 40px; }
    .side-nav .icon img {
      height: 30px;
      cursor: pointer; }
  .side-nav .exit-icon {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 200px; }
    .side-nav .exit-icon img {
      height: 30px;
      cursor: pointer; }

.main-content {
  width: 100%;
  padding: 0 100px; }
  .main-content .rectangle {
    height: 115px;
    border-bottom: 2px solid #EFEFEF;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .main-content .rectangle .text {
      display: flex;
      flex-direction: column;
      gap: 10px; }
    .main-content .rectangle .main-text {
      font-size: 25px; }
  .main-content .container {
    display: flex; }
    .main-content .container .main-side-container {
      width: 30%;
      height: 875px;
      border-right: 2px solid #EFEFEF; }
      .main-content .container .main-side-container .top-name {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 30px 0; }
      .main-content .container .main-side-container .side-button {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px; }
        .main-content .container .main-side-container .side-button .card-1 {
          width: 90%;
          height: 110px;
          border-radius: 8px;
          border: 1px solid #E06A43;
          background: #FFF;
          cursor: pointer; }
          .main-content .container .main-side-container .side-button .card-1 .text {
            padding: 20px 30px;
            gap: 10px;
            display: flex;
            flex-direction: column; }
          .main-content .container .main-side-container .side-button .card-1 .main-text {
            font-family: Satoshi;
            font-weight: 700; }
          .main-content .container .main-side-container .side-button .card-1 .progress-bar {
            position: relative;
            height: 4px;
            width: 100%;
            background: #eaeaea;
            border-radius: 25px;
            margin-top: 5.5px; }
          .main-content .container .main-side-container .side-button .card-1 .progress-fill {
            position: absolute;
            height: 4px;
            width: 33%;
            background: linear-gradient(270deg, #E06A43 10.34%, #EFC5B8 102.72%);
            border-radius: 15px; }
        .main-content .container .main-side-container .side-button .card-2 {
          width: 90%;
          padding: 20px 30px;
          border-radius: 8px;
          border: 1px solid #EFEFEF;
          background: #FFF;
          cursor: pointer; }
        .main-content .container .main-side-container .side-button .card-3 {
          width: 90%;
          padding: 20px 30px;
          border-radius: 8px;
          border: 1px solid #EFEFEF;
          background: #FFF;
          cursor: pointer; }
    .main-content .container .second-container {
      margin-top: 75px;
      margin-left: 75px;
      width: 100%; }
      .main-content .container .second-container .card-1 {
        display: flex;
        border-radius: 8px;
        border: 0px solid #EFEFEF;
        background: #F2FAF7;
        padding: 15px;
        justify-content: space-between;
        align-items: center; }
        .main-content .container .second-container .card-1 .image-text {
          display: flex;
          flex-direction: row;
          gap: 10px; }
          .main-content .container .second-container .card-1 .image-text .text {
            display: flex;
            flex-direction: column; }
          .main-content .container .second-container .card-1 .image-text .main-text {
            font-family: Satoshi;
            font-weight: 500; }
          .main-content .container .second-container .card-1 .image-text span {
            font-size: 12px; }
        .main-content .container .second-container .card-1 .message span {
          color: #00A25B;
          font-size: 12px;
          font-weight: 500; }
      .main-content .container .second-container .card-2 {
        border-radius: 8px;
        border: 1px solid #EFEFEF;
        background: #fff;
        margin-top: 30px; }
        .main-content .container .second-container .card-2 .padding {
          padding: 15px; }
        .main-content .container .second-container .card-2 .image-text {
          display: flex;
          flex-direction: row;
          gap: 10px; }
          .main-content .container .second-container .card-2 .image-text img {
            background-color: #FFF1EC;
            border-radius: 25px;
            padding: 10px; }
          .main-content .container .second-container .card-2 .image-text .text {
            display: flex;
            flex-direction: column; }
          .main-content .container .second-container .card-2 .image-text .main-text {
            font-family: Satoshi;
            font-weight: 500; }
          .main-content .container .second-container .card-2 .image-text span {
            font-size: 12px; }
        .main-content .container .second-container .card-2 .pic-upload {
          margin: 30px 0;
          display: flex;
          width: 100%;
          padding: 16px 24px;
          border-radius: 8px;
          border: 1px dashed rgba(127, 136, 153, 0.5);
          justify-content: space-between; }
          .main-content .container .second-container .card-2 .pic-upload .image-text1 {
            display: flex;
            flex-direction: row;
            gap: 10px;
            width: 100%; }
            .main-content .container .second-container .card-2 .pic-upload .image-text1 .text {
              display: flex;
              flex-direction: column; }
            .main-content .container .second-container .card-2 .pic-upload .image-text1 .main-text {
              font-family: Satoshi;
              font-weight: 500;
              font-size: 14px; }
            .main-content .container .second-container .card-2 .pic-upload .image-text1 span {
              font-size: 12px; }
        .main-content .container .second-container .card-2 .button {
          display: flex;
          flex-direction: row;
          gap: 15px; }
      .main-content .container .second-container .card-bottom {
        border-radius: 0px 0px 8px 8px;
        background: #F9F8FE;
        height: 40px;
        padding: 10px 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px; }
        .main-content .container .second-container .card-bottom .img-text {
          gap: 10px;
          display: flex; }
        .main-content .container .second-container .card-bottom span {
          font-size: 12px;
          font-weight: 500; }
        .main-content .container .second-container .card-bottom hr {
          width: 1px;
          height: 100%; }
      .main-content .container .second-container .card-3 {
        display: flex;
        border-radius: 8px;
        border: 1px solid #EFEFEF;
        padding: 15px;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px; }
        .main-content .container .second-container .card-3 .image-text {
          display: flex;
          flex-direction: row;
          gap: 10px; }
          .main-content .container .second-container .card-3 .image-text .image {
            background: #F6F8FE;
            display: flex;
            height: 40px;
            width: 40px;
            align-items: center;
            justify-content: center;
            border-radius: 25px; }
          .main-content .container .second-container .card-3 .image-text .text {
            display: flex;
            flex-direction: column; }
          .main-content .container .second-container .card-3 .image-text .main-text {
            font-family: Satoshi;
            color: #7F8899;
            font-weight: 500; }
          .main-content .container .second-container .card-3 .image-text span {
            font-size: 12px; }
        .main-content .container .second-container .card-3 .image {
          background: #FEF6F6;
          display: flex;
          height: 40px;
          width: 40px;
          align-items: center;
          justify-content: center;
          border-radius: 25px; }
