.main-content {
  margin-left: 0;
  padding-left: 100px;
  padding-right: 0; }

.top-contant {
  display: flex;
  width: 100%;
  height: max-content;
  padding-top: 24px;
  padding-left: 36px;
  padding-right: 36px;
  align-items: center;
  justify-content: space-between; }
  .top-contant h1 {
    margin-bottom: 0; }
  .top-contant .main-text {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: bold; }

.body-container {
  width: 100%;
  margin-top: 30px;
  padding: 0 36px; }
  .body-container .recent {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.25rem;
    align-items: center;
    gap: 10px; }
    .body-container .recent span {
      font-family: General Sans;
      font-size: 12px;
      color: #7f8899;
      font-weight: bold; }
    .body-container .recent hr {
      width: 20px;
      margin-bottom: 0;
      margin-top: 0;
      border-top: 2px solid #efefef; }
  .body-container .card-container {
    height: 350px;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    overflow: auto; }
    .body-container .card-container .card {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
      flex-direction: row;
      border: none;
      border-radius: 0px;
      border-bottom: 1px solid #efefef;
      min-height: 90px; }
      .body-container .card-container .card .img-text {
        display: flex;
        align-items: center;
        gap: 10px; }
        .body-container .card-container .card .img-text .image {
          display: flex;
          background-color: #e06a431a;
          width: 42px;
          height: 42px;
          border-radius: 25px;
          justify-content: center;
          align-items: center; }
          .body-container .card-container .card .img-text .image ion-icon {
            color: #e06a43;
            height: 19px;
            width: 19px; }
        .body-container .card-container .card .img-text .image1 {
          display: flex;
          background-color: #00a25b1a;
          width: 42px;
          height: 42px;
          border-radius: 25px;
          justify-content: center;
          align-items: center; }
          .body-container .card-container .card .img-text .image1 ion-icon {
            color: #01a335;
            height: 19px;
            width: 19px; }
        .body-container .card-container .card .img-text .image2 {
          display: flex;
          background-color: #e06a431a;
          width: 42px;
          height: 42px;
          border-radius: 25px;
          justify-content: center;
          align-items: center; }
          .body-container .card-container .card .img-text .image2 ion-icon {
            color: #e64b4b;
            height: 25px;
            width: 25px; }
      .body-container .card-container .card .text .main-text {
        font-weight: bold; }
      .body-container .card-container .card .side-text {
        display: flex;
        flex-direction: column;
        align-items: end; }
        .body-container .card-container .card .side-text span {
          font-size: 12px; }
  .body-container .otherside-container .oversea {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.25rem; }
    .body-container .otherside-container .oversea .recent {
      margin-bottom: 0; }
    .body-container .otherside-container .oversea a {
      font-size: 14px; }
  .body-container .otherside-container .country-card {
    width: 100%; }
    .body-container .otherside-container .country-card .slick-list {
      min-height: 120px;
      padding: 0 15px; }
    .body-container .otherside-container .country-card .slick-slide {
      height: auto; }
    .body-container .otherside-container .country-card .slick-dots li.slick-active button:before {
      color: #e06a43; }
    .body-container .otherside-container .country-card .card {
      padding: 20px;
      border-radius: 8px;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      cursor: pointer;
      min-height: 100px;
      margin-left: 9px; }
      .body-container .otherside-container .country-card .card .top-text {
        display: flex;
        line-height: 1.25rem;
        gap: 5px; }
        .body-container .otherside-container .country-card .card .top-text .primary-text {
          font-size: 14px; }
        .body-container .otherside-container .country-card .card .top-text span {
          font-family: General Sans;
          font-size: 12px;
          font-weight: normal; }
      .body-container .otherside-container .country-card .card .card-body {
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .body-container .otherside-container .country-card .card .card-body .text-img {
          display: flex;
          gap: 30px;
          align-items: center; }
        .body-container .otherside-container .country-card .card .card-body .image {
          width: max-content; }
          .body-container .otherside-container .country-card .card .card-body .image img {
            width: 30px;
            height: 30px;
            object-fit: cover;
            border-radius: 25px; }
        .body-container .otherside-container .country-card .card .card-body .rs-text {
          display: flex;
          gap: 5px; }
          .body-container .otherside-container .country-card .card .card-body .rs-text h6 {
            margin-bottom: 0; }
          .body-container .otherside-container .country-card .card .card-body .rs-text .main-text {
            font-family: Satoshi;
            font-weight: bold; }
        .body-container .otherside-container .country-card .card .card-body .last-text h6 {
          margin-bottom: 0;
          color: #e06a43;
          font-size: 12.8px; }
  .body-container .otherside-container .indian {
    margin-top: 30px; }
    .body-container .otherside-container .indian .country-container {
      width: 100%; }
    .body-container .otherside-container .indian .slick-list {
      min-height: 110px;
      padding: 0 15px; }
    .body-container .otherside-container .indian .slick-slide {
      height: auto; }
    .body-container .otherside-container .indian .slick-dots li.slick-active button:before {
      color: #e06a43; }
    .body-container .otherside-container .indian .card {
      padding: 20px;
      border-radius: 8px;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      cursor: pointer;
      min-height: 100px;
      margin-left: 9px; }
      .body-container .otherside-container .indian .card .image {
        position: absolute;
        height: 130px;
        width: 130px;
        top: -20px;
        right: 0; }
      .body-container .otherside-container .indian .card .top {
        display: flex;
        gap: 5px;
        align-items: center; }
        .body-container .otherside-container .indian .card .top h6 {
          margin-bottom: 0; }
        .body-container .otherside-container .indian .card .top .main-text {
          font-family: Satoshi;
          font-weight: bold; }
      .body-container .otherside-container .indian .card span {
        margin-top: 15px; }
  .body-container .quick-link {
    margin-top: 30px; }
    .body-container .quick-link .vertical-line {
      border-left: 2px solid #00A25B;
      height: 50%;
      position: absolute;
      left: -1; }
    .body-container .quick-link .vertical-line2 {
      border-left: 2px solid #9075E1;
      height: 50%;
      position: absolute;
      left: -1; }
    .body-container .quick-link .vertical-line3 {
      border-left: 2px solid #e06a43;
      height: 50%;
      position: absolute;
      left: -1; }
    .body-container .quick-link .card {
      padding: 20px;
      border-radius: 8px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      cursor: pointer;
      min-height: 88px;
      justify-content: space-between;
      display: flex;
      flex-direction: row;
      align-items: center; }
      .body-container .quick-link .card .img-text {
        display: flex;
        gap: 30px;
        align-items: center; }
        .body-container .quick-link .card .img-text .img1 {
          height: 50px;
          width: 50px; }
        .body-container .quick-link .card .img-text .main-text {
          font-family: Satoshi;
          font-weight: bold; }
      .body-container .quick-link .card .arrow {
        background-color: #fde9e2;
        height: 24px;
        width: 24px;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center; }
        .body-container .quick-link .card .arrow ion-icon {
          color: #e06a43; }
  .body-container .transaction {
    margin-top: 40px; }
    .body-container .transaction .table {
      box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px; }
      .body-container .transaction .table tbody tr {
        padding: 0.5rem; }
        .body-container .transaction .table tbody tr:hover {
          background-color: #fdf8f6;
          cursor: pointer; }
      .body-container .transaction .table tr {
        display: flex;
        flex-direction: row;
        width: 100%;
        border-bottom: 1px solid #efefef; }
        .body-container .transaction .table tr .payer {
          width: 12%; }
        .body-container .transaction .table tr .status {
          width: 30%; }
        .body-container .transaction .table tr .date {
          width: 22%; }
        .body-container .transaction .table tr th {
          padding: 20px 0;
          border-top: none;
          border-bottom: none; }
          .body-container .transaction .table tr th .th-text {
            padding: 0 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-right: 2px solid #e1e2e2; }
          .body-container .transaction .table tr th ion-icon {
            cursor: pointer;
            color: #7f8899; }
        .body-container .transaction .table tr td {
          padding: 20px 20px;
          border-top: none;
          font-size: 14px;
          color: #1f2c35;
          font-family: Satoshi-medium; }
    .body-container .transaction .side-image {
      text-align: center; }
      .body-container .transaction .side-image .side {
        display: flex;
        justify-content: center;
        align-items: center; }
      .body-container .transaction .side-image .image {
        height: 300px; }
      .body-container .transaction .side-image .main-text {
        font-family: Satoshi-medium; }
