.body-container {
  display: flex;
  width: 100vw;
  height: 100vh; }

.logo {
  margin-top: 40px;
  margin-left: 40px;
  width: max-content;
  position: absolute; }

.otp-container {
  display: flex;
  width: 50vw;
  justify-content: center; }
  @media only screen and (max-width: 768px) {
    .otp-container {
      width: 100%; } }

.otp-card {
  display: flex;
  width: 400px;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start; }
  .otp-card .first-section {
    gap: 32px;
    display: flex;
    flex-direction: column; }
    .otp-card .first-section .check-boxs {
      display: inline-flex;
      flex-direction: row;
      gap: 10px; }
      .otp-card .first-section .check-boxs .check-box {
        width: 40px;
        padding: 8px 16px;
        border-radius: 8px;
        border: 1px solid rgba(127, 136, 153, 0.2); }
  .otp-card .resend-text {
    margin-top: 20px; }
    .otp-card .resend-text .second-line {
      color: #E06A43; }
  .otp-card .Proceed-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    margin-top: 30px; }
    .otp-card .Proceed-button-container .back-login {
      color: #7F8899;
      align-items: center;
      display: flex;
      text-decoration: none; }

.other-side {
  display: flex;
  width: 50vw;
  background-color: #1E1E2D;
  position: relative; }
  @media only screen and (max-width: 769px) {
    .other-side {
      display: none; } }
  .other-side .text-container {
    width: 492px;
    top: 160px;
    position: absolute; }
  .other-side .side-text {
    left: 80px;
    position: absolute;
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    text-transform: capitalize; }
  .other-side .first-image {
    position: absolute;
    top: 78px;
    left: 80px; }
  .other-side .second-image {
    position: absolute;
    right: 0; }
  @media only screen and (max-width: 1024px) {
    .other-side .third-image {
      display: none; } }
  .other-side .third-image .back-image {
    height: 700px;
    bottom: 0;
    right: 0;
    position: absolute; }
    @media only screen and (max-width: 1440px) {
      .other-side .third-image .back-image {
        height: 550px; } }
  .other-side .third-image .upper-image1 {
    position: absolute;
    bottom: 335px;
    right: 0; }
    @media only screen and (max-width: 1440px) {
      .other-side .third-image .upper-image1 {
        bottom: 265px;
        right: 0; } }
    .other-side .third-image .upper-image1 img {
      height: 155px; }
      @media only screen and (max-width: 1440px) {
        .other-side .third-image .upper-image1 img {
          height: 120px; } }
  .other-side .third-image .upper-image2 {
    position: absolute;
    bottom: 50px;
    left: 150px; }
    @media only screen and (max-width: 1440px) {
      .other-side .third-image .upper-image2 {
        bottom: 20px;
        left: 55px; } }
    .other-side .third-image .upper-image2 img {
      height: 270px; }
      @media only screen and (max-width: 1440px) {
        .other-side .third-image .upper-image2 img {
          height: 230px; } }
