.full-body {
  display: flex; }

.side-nav {
  background-color: #1E1E2D;
  width: 100px;
  height: 100vh; }
  @media only screen and (max-width: 768px) {
    .side-nav {
      display: none; } }
  .side-nav .logo {
    height: 70px;
    border-bottom: 1px solid #2D2D43;
    display: flex;
    justify-content: center;
    align-items: center; }
  .side-nav .icon {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 40px; }
    .side-nav .icon img {
      height: 30px;
      cursor: pointer; }
  .side-nav .exit-icon {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 200px; }
    .side-nav .exit-icon img {
      height: 30px;
      cursor: pointer; }

.main-content {
  width: 100%;
  padding: 0 20px; }
  .main-content .rectangle {
    height: 115px;
    border-bottom: 2px solid #EFEFEF;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .main-content .rectangle .text {
      display: flex;
      flex-direction: column;
      gap: 10px; }
    .main-content .rectangle .main-text {
      font-size: 25px; }
    @media only screen and (max-width: 768px) {
      .main-content .rectangle {
        width: 100%; }
        .main-content .rectangle img {
          display: none; }
        .main-content .rectangle .main-text {
          font-size: 15px; } }
  .main-content .main-container {
    display: flex; }
    @media only screen and (max-width: 768px) {
      .main-content .main-container {
        display: block; } }
    .main-content .main-container .main-side-container {
      width: 20%;
      height: 875px;
      border-right: 2px solid #EFEFEF; }
      @media only screen and (max-width: 768px) {
        .main-content .main-container .main-side-container {
          width: 100%;
          height: auto;
          border-right: none; } }
      .main-content .main-container .main-side-container .top-name {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 30px 0; }
      .main-content .main-container .main-side-container .side-button {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px; }
        .main-content .main-container .main-side-container .side-button .card-1 {
          width: 90%;
          border-radius: 8px;
          border: 1px solid #EFEFEF;
          background: #FFF; }
          @media only screen and (max-width: 768px) {
            .main-content .main-container .main-side-container .side-button .card-1 {
              width: 100%; } }
          .main-content .main-container .main-side-container .side-button .card-1 .text {
            padding: 20px 30px;
            gap: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between; }
          .main-content .main-container .main-side-container .side-button .card-1 .main-text {
            font-family: Satoshi;
            font-weight: 700; }
        .main-content .main-container .main-side-container .side-button .card-2 {
          width: 90%;
          height: 110px;
          border-radius: 8px;
          border: 1px solid #E06A43;
          background: #FFF; }
          @media only screen and (max-width: 768px) {
            .main-content .main-container .main-side-container .side-button .card-2 {
              width: 100%; } }
          .main-content .main-container .main-side-container .side-button .card-2 .text {
            padding: 20px 30px;
            gap: 10px;
            display: flex;
            flex-direction: column; }
          .main-content .main-container .main-side-container .side-button .card-2 .main-text {
            font-family: Satoshi;
            font-weight: 700; }
          .main-content .main-container .main-side-container .side-button .card-2 .progress-bar {
            position: relative;
            height: 4px;
            width: 100%;
            background: #eaeaea;
            border-radius: 25px;
            margin-top: 5.5px; }
          .main-content .main-container .main-side-container .side-button .card-2 .progress-fill {
            position: absolute;
            height: 4px;
            width: 50%;
            background: linear-gradient(270deg, #E06A43 10.34%, #EFC5B8 102.72%);
            border-radius: 15px; }
        .main-content .main-container .main-side-container .side-button .card-3 {
          width: 90%;
          padding: 20px 30px;
          border-radius: 8px;
          border: 1px solid #EFEFEF;
          background: #FFF; }
          @media only screen and (max-width: 768px) {
            .main-content .main-container .main-side-container .side-button .card-3 {
              width: 100%; } }
    .main-content .main-container .second-container {
      padding-top: 0px;
      padding-left: 75px;
      width: 80%; }
      @media only screen and (max-width: 768px) {
        .main-content .main-container .second-container {
          width: 100%;
          padding-left: 0;
          padding-top: 50px;
          margin-bottom: 50px; } }
      .main-content .main-container .second-container .card-2 {
        border-radius: 8px;
        border: 1px solid #EFEFEF;
        background: #fff;
        margin-top: 30px; }
        .main-content .main-container .second-container .card-2 .loading {
          border: 5px solid #f3f3f3;
          border-top: 5px solid #E06A43;
          border-radius: 50%;
          width: 30px;
          height: 30px;
          animation: spin 2s linear infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
        .main-content .main-container .second-container .card-2 .card-body {
          padding: 0;
          display: none; }
        .main-content .main-container .second-container .card-2 .padding {
          padding: 15px; }
          .main-content .main-container .second-container .card-2 .padding .row-main {
            margin-top: 30px; }
          .main-content .main-container .second-container .card-2 .padding .row-1 {
            display: flex;
            flex-direction: row;
            gap: 10px; }
            .main-content .main-container .second-container .card-2 .padding .row-1 input {
              height: 40px;
              width: 80px;
              text-align: center; }
              @media only screen and (max-width: 768px) {
                .main-content .main-container .second-container .card-2 .padding .row-1 input {
                  width: 50%; } }
            .main-content .main-container .second-container .card-2 .padding .row-1 button {
              padding: 0;
              width: 70px;
              margin-left: 20px; }
              @media only screen and (max-width: 768px) {
                .main-content .main-container .second-container .card-2 .padding .row-1 button {
                  padding: 10px 16px; } }
        .main-content .main-container .second-container .card-2 .image-text {
          display: flex;
          flex-direction: row;
          gap: 10px; }
          .main-content .main-container .second-container .card-2 .image-text img {
            background-color: #FFF1EC;
            border-radius: 25px;
            padding: 10px; }
          .main-content .main-container .second-container .card-2 .image-text .text {
            display: flex;
            flex-direction: column; }
          .main-content .main-container .second-container .card-2 .image-text .main-text {
            font-family: Satoshi;
            font-weight: 500; }
          .main-content .main-container .second-container .card-2 .image-text span {
            font-size: 12px; }
        .main-content .main-container .second-container .card-2 .pic-upload {
          margin: 30px 0;
          display: flex;
          width: 100%;
          padding: 16px 24px;
          border-radius: 8px;
          border: 1px dashed rgba(127, 136, 153, 0.5);
          justify-content: space-between; }
          @media only screen and (max-width: 768px) {
            .main-content .main-container .second-container .card-2 .pic-upload {
              display: block; } }
          .main-content .main-container .second-container .card-2 .pic-upload .image-text1 {
            display: flex;
            flex-direction: row;
            gap: 10px;
            width: 100%; }
            .main-content .main-container .second-container .card-2 .pic-upload .image-text1 .text {
              display: flex;
              flex-direction: column; }
            .main-content .main-container .second-container .card-2 .pic-upload .image-text1 .main-text {
              font-family: Satoshi;
              font-weight: 500;
              font-size: 14px; }
            .main-content .main-container .second-container .card-2 .pic-upload .image-text1 span {
              font-size: 12px; }
        .main-content .main-container .second-container .card-2 .button {
          display: flex;
          flex-direction: row;
          gap: 15px; }
          @media only screen and (max-width: 768px) {
            .main-content .main-container .second-container .card-2 .button {
              margin-top: 20px; } }
      .main-content .main-container .second-container .card-bottom {
        border-radius: 0px 0px 8px 8px;
        background: #F9F8FE;
        height: 40px;
        padding: 10px 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px; }
        .main-content .main-container .second-container .card-bottom .img-text {
          gap: 10px;
          display: flex; }
        .main-content .main-container .second-container .card-bottom span {
          font-size: 12px;
          font-weight: 500; }
        .main-content .main-container .second-container .card-bottom hr {
          width: 2px;
          height: 100%; }
