.main-content {
  margin-left: 0;
  padding-left: 100px;
  padding-right: 0; }

.top-contant {
  display: flex;
  width: 100%;
  height: max-content;
  padding-top: 24px;
  padding-left: 36px;
  padding-right: 36px;
  align-items: center;
  justify-content: space-between; }
  .top-contant h1 {
    margin-bottom: 0; }
  .top-contant .main-text {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: bold; }

.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 500px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0); }

.modal.right .modal-content {
  height: 100%;
  overflow-y: auto; }

.modal.right .modal-body {
  padding: 15px 15px 80px; }

.modal.right.fade .modal-dialog {
  right: 0px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out; }

.modal.right.fade.in .modal-dialog {
  right: 0; }

.modal .modal-content {
  padding: 20px; }

.modal .modal-title {
  font-family: General Sans-bold !important; }

.modal .modal-body {
  display: flex;
  flex-direction: column !important; }
  .modal .modal-body .card {
    border: none !important; }
  .modal .modal-body .card-header {
    background-color: transparent !important;
    border-bottom: 1px solid #7f8899;
    padding: 0; }
    .modal .modal-body .card-header span {
      justify-content: space-between;
      display: flex;
      width: 100%;
      align-items: center;
      color: #000;
      font-size: 16px;
      padding: 20px 0;
      font-family: General Sans-semibold; }
  .modal .modal-body .card-body {
    padding: 0;
    margin: 20px 0; }
    .modal .modal-body .card-body .radio-buttons {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      color: white;
      gap: 10px; }
    .modal .modal-body .card-body .radio-button {
      display: flex;
      align-items: center;
      cursor: pointer; }
    .modal .modal-body .card-body .radio-button input[type="radio"] {
      display: none; }
    .modal .modal-body .card-body .radio-circle {
      width: 20px;
      height: 20px;
      border-radius: 8px;
      border: 1px solid #aaa;
      position: relative;
      margin-right: 10px; }
    .modal .modal-body .card-body .radio-circle::before {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 8px;
      background-color: #ddd;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      transition: all 0.2s ease-in-out; }
    .modal .modal-body .card-body .radio-button input[type="radio"]:checked + .radio-circle::before {
      transform: translate(-50%, -50%) scale(1); }
    .modal .modal-body .card-body .radio-button:nth-of-type(1) input[type="radio"]:checked + .radio-circle::before {
      background-color: #e06a43; }
    .modal .modal-body .card-body .radio-button:nth-of-type(2) input[type="radio"]:checked + .radio-circle::before {
      background-color: #e06a43; }
    .modal .modal-body .card-body .radio-label {
      font-size: 14px;
      font-family: Satoshi-medium; }
    .modal .modal-body .card-body form {
      margin-top: 40px;
      gap: 30px;
      display: flex;
      flex-direction: column; }
  .modal .modal-body .modal-bottam {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 95%; }
    .modal .modal-body .modal-bottam h6 {
      font-size: 14px;
      font-family: Satoshi-medium;
      margin: 0;
      cursor: pointer; }

.body-container {
  width: 100%; }
  .body-container .transaction .row {
    margin-right: 0; }
  .body-container .transaction .text {
    font-size: 12px;
    margin-bottom: 20px; }
  .body-container .transaction .col-md-9 {
    border-right: 2px solid #efefef;
    padding-right: 0; }
    .body-container .transaction .col-md-9 .payes {
      padding: 0 36px; }
      .body-container .transaction .col-md-9 .payes .header {
        display: flex; }
        .body-container .transaction .col-md-9 .payes .header .payee {
          display: flex;
          align-items: center;
          gap: 10px; }
          .body-container .transaction .col-md-9 .payes .header .payee span {
            font-family: General Sans-semibold;
            font-size: 12px; }
          .body-container .transaction .col-md-9 .payes .header .payee hr {
            width: 20px;
            margin: 0; }
      .body-container .transaction .col-md-9 .payes .payes-body {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .body-container .transaction .col-md-9 .payes .payes-body .view {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px; }
          .body-container .transaction .col-md-9 .payes .payes-body .view p {
            font-size: 12px;
            font-family: General Sans-m; }
        .body-container .transaction .col-md-9 .payes .payes-body .viewall {
          height: 20px;
          width: 20px;
          background-color: #fbf2e6;
          color: #e06a43;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 25px; }
        .body-container .transaction .col-md-9 .payes .payes-body .cards {
          display: flex;
          gap: 30px; }
        .body-container .transaction .col-md-9 .payes .payes-body .card {
          width: max-content;
          border: none !important;
          align-items: center;
          text-align: center;
          cursor: pointer; }
          .body-container .transaction .col-md-9 .payes .payes-body .card .top2 {
            display: flex;
            width: 50px;
            height: 50px;
            background-color: #fbf2e6;
            color: #8e6a3a;
            justify-content: center;
            align-items: center;
            border-radius: 25px; }
          .body-container .transaction .col-md-9 .payes .payes-body .card .top {
            display: flex;
            width: 50px;
            height: 50px;
            background-color: #faf4f2;
            color: #e06a43;
            justify-content: center;
            align-items: center;
            border-radius: 25px; }
          .body-container .transaction .col-md-9 .payes .payes-body .card h6 {
            margin: 0;
            font-size: 18px;
            font-family: Satoshi-medium; }
          .body-container .transaction .col-md-9 .payes .payes-body .card .card-body {
            padding: 10px; }
            .body-container .transaction .col-md-9 .payes .payes-body .card .card-body p {
              font-family: Satoshi-medium;
              font-size: 12px; }
            .body-container .transaction .col-md-9 .payes .payes-body .card .card-body span {
              font-size: 10px; }
    .body-container .transaction .col-md-9 .padding {
      padding: 0 36px;
      margin-top: 30px; }
      .body-container .transaction .col-md-9 .padding .pay {
        display: flex;
        align-items: center;
        gap: 10px; }
        .body-container .transaction .col-md-9 .padding .pay span {
          font-family: General Sans-semibold;
          font-size: 12px; }
        .body-container .transaction .col-md-9 .padding .pay hr {
          width: 20px;
          margin: 0; }
    .body-container .transaction .col-md-9 .account {
      background-color: #fdf8f6;
      border-bottom: 2px solid #efefef; }
      .body-container .transaction .col-md-9 .account .main-text {
        font-family: General Sans-semibold;
        font-size: 18px;
        padding: 20px 36px; }
    .body-container .transaction .col-md-9 .header {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      margin-bottom: 10px; }
      .body-container .transaction .col-md-9 .header .firstbutoons {
        display: flex;
        gap: 10px;
        background-color: #9d9fac0d;
        border-radius: 0.375rem;
        padding: 0.25rem; }
        .body-container .transaction .col-md-9 .header .firstbutoons .new-button {
          background-color: transparent;
          color: black; }
  .body-container .transaction table {
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    width: 100%; }
    .body-container .transaction table thead td {
      font-size: 12px;
      padding: 30px 20px;
      border-top: none;
      color: #7f8899;
      font-family: Satoshi-medium; }
    .body-container .transaction table tbody tr:hover {
      background-color: #fdf8f6;
      cursor: pointer; }
    .body-container .transaction table tbody tr td {
      padding: 30px 20px;
      border-top: none;
      font-size: 14px;
      color: #1f2c35;
      font-family: Satoshi-medium; }
    .body-container .transaction table tr {
      width: 100%;
      border-bottom: 1px solid #efefef; }
  .body-container .transaction .side-image {
    text-align: center; }
    .body-container .transaction .side-image .side {
      display: flex;
      justify-content: center;
      align-items: center; }
    .body-container .transaction .side-image .image {
      height: 300px; }
    .body-container .transaction .side-image .main-text {
      font-family: Satoshi-medium; }
