.full-body {
  display: flex; }

.side-nav {
  background-color: #1E1E2D;
  width: 100px;
  height: 100vh; }
  .side-nav .logo {
    height: 70px;
    border-bottom: 1px solid #2D2D43; }
    .side-nav .logo img {
      position: relative;
      top: 25px;
      left: 18px; }
  .side-nav .icon {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 40px; }
    .side-nav .icon img {
      height: 30px;
      cursor: pointer; }
  .side-nav .exit-icon {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 200px; }
    .side-nav .exit-icon img {
      height: 30px;
      cursor: pointer; }

.main-content {
  width: 100%;
  padding: 0 100px; }
  .main-content .rectangle {
    height: 115px;
    border-bottom: 2px solid #EFEFEF;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .main-content .rectangle .text {
      display: flex;
      flex-direction: column;
      gap: 10px; }
    .main-content .rectangle .main-text {
      font-size: 25px; }
  .main-content .main-container {
    display: flex; }
    .main-content .main-container .main-side-container {
      width: 20%;
      height: 875px;
      border-right: 2px solid #EFEFEF; }
      .main-content .main-container .main-side-container .top-name {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 30px 0; }
      .main-content .main-container .main-side-container .side-button {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px; }
        .main-content .main-container .main-side-container .side-button .card-1 {
          width: 90%;
          border-radius: 8px;
          border: 1px solid #EFEFEF;
          background: #FFF; }
          .main-content .main-container .main-side-container .side-button .card-1 .text {
            padding: 20px 30px;
            gap: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between; }
          .main-content .main-container .main-side-container .side-button .card-1 .main-text {
            font-family: Satoshi;
            font-weight: 700; }
        .main-content .main-container .main-side-container .side-button .card-2 {
          width: 90%;
          border-radius: 8px;
          border: 1px solid #EFEFEF;
          background: #FFF; }
          .main-content .main-container .main-side-container .side-button .card-2 .text {
            padding: 20px 30px;
            gap: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between; }
          .main-content .main-container .main-side-container .side-button .card-2 .main-text {
            font-family: Satoshi;
            font-weight: 700; }
        .main-content .main-container .main-side-container .side-button .card-3 {
          width: 90%;
          height: 110px;
          border-radius: 8px;
          border: 1px solid #E06A43;
          background: #FFF; }
          .main-content .main-container .main-side-container .side-button .card-3 .text {
            padding: 20px 30px;
            gap: 10px;
            display: flex;
            flex-direction: column; }
          .main-content .main-container .main-side-container .side-button .card-3 .main-text {
            font-family: Satoshi;
            font-weight: 700; }
          .main-content .main-container .main-side-container .side-button .card-3 .progress-bar {
            position: relative;
            height: 4px;
            width: 100%;
            background: #eaeaea;
            border-radius: 25px;
            margin-top: 5.5px; }
          .main-content .main-container .main-side-container .side-button .card-3 .progress-fill {
            position: absolute;
            height: 4px;
            width: 50%;
            background: linear-gradient(270deg, #E06A43 10.34%, #EFC5B8 102.72%);
            border-radius: 15px; }
    .main-content .main-container .second-container {
      padding-top: 0px;
      padding-left: 75px;
      width: 80%; }
      .main-content .main-container .second-container .card-2 {
        border-radius: 8px;
        border: 1px solid #EFEFEF;
        background: #fff;
        margin-top: 30px; }
        .main-content .main-container .second-container .card-2 .padding {
          padding: 15px; }
          .main-content .main-container .second-container .card-2 .padding .hr {
            display: flex;
            gap: 15px;
            align-items: center; }
            .main-content .main-container .second-container .card-2 .padding .hr hr {
              width: 100%; }
          .main-content .main-container .second-container .card-2 .padding .row {
            margin-top: 10px; }
            .main-content .main-container .second-container .card-2 .padding .row .text-container {
              display: flex;
              gap: 10px; }
          .main-content .main-container .second-container .card-2 .padding .button2 {
            padding: 0;
            display: flex;
            justify-content: end;
            padding: 15px; }
        .main-content .main-container .second-container .card-2 .image-text {
          display: flex;
          flex-direction: row;
          gap: 10px; }
          .main-content .main-container .second-container .card-2 .image-text img {
            background-color: #FFF1EC;
            border-radius: 25px;
            padding: 10px; }
          .main-content .main-container .second-container .card-2 .image-text .text {
            display: flex;
            flex-direction: column; }
          .main-content .main-container .second-container .card-2 .image-text .main-text {
            font-family: Satoshi;
            font-weight: 500; }
          .main-content .main-container .second-container .card-2 .image-text span {
            font-size: 12px; }
        .main-content .main-container .second-container .card-2 .pic-upload {
          margin: 30px 0;
          display: flex;
          width: 100%;
          padding: 16px 24px;
          border-radius: 8px;
          border: 1px dashed rgba(127, 136, 153, 0.5);
          justify-content: space-between; }
          .main-content .main-container .second-container .card-2 .pic-upload .image-text1 {
            display: flex;
            flex-direction: row;
            gap: 10px;
            width: 100%; }
            .main-content .main-container .second-container .card-2 .pic-upload .image-text1 .text {
              display: flex;
              flex-direction: column; }
            .main-content .main-container .second-container .card-2 .pic-upload .image-text1 .main-text {
              font-family: Satoshi;
              font-weight: 500;
              font-size: 14px; }
            .main-content .main-container .second-container .card-2 .pic-upload .image-text1 span {
              font-size: 12px; }
        .main-content .main-container .second-container .card-2 .button {
          display: flex;
          flex-direction: row;
          gap: 15px; }
      .main-content .main-container .second-container .card-3 {
        border-radius: 8px;
        border: 1px solid #EFEFEF;
        padding: 15px;
        margin-top: 30px;
        margin-bottom: 30px; }
        .main-content .main-container .second-container .card-3 .row-2 {
          margin-top: 50px;
          margin-left: 35px; }
          .main-content .main-container .second-container .card-3 .row-2 .hr {
            display: flex !important;
            align-items: center;
            gap: 20px;
            margin: 10px 0px; }
            .main-content .main-container .second-container .card-3 .row-2 .hr hr {
              width: 100%; }
          .main-content .main-container .second-container .card-3 .row-2 .persnol-button {
            width: 100%;
            background-color: white;
            color: #E06A43;
            border-radius: 8px;
            border: 1px solid rgba(127, 136, 153, 0.2); }
          .main-content .main-container .second-container .card-3 .row-2 .input-container {
            width: 100%;
            padding: 10px;
            border-radius: 8px;
            border: 1px solid rgba(127, 136, 153, 0.2);
            display: flex; }
            .main-content .main-container .second-container .card-3 .row-2 .input-container input:focus,
            .main-content .main-container .second-container .card-3 .row-2 .input-container input:active {
              outline: none; }
            .main-content .main-container .second-container .card-3 .row-2 .input-container input {
              width: 100%;
              border: none;
              padding: 0; }
            .main-content .main-container .second-container .card-3 .row-2 .input-container button {
              float: right;
              padding: 0 10px; }
        .main-content .main-container .second-container .card-3 .card-main {
          justify-content: space-between;
          align-items: center;
          display: flex; }
        .main-content .main-container .second-container .card-3 .image-text {
          display: flex;
          flex-direction: row;
          gap: 10px; }
          .main-content .main-container .second-container .card-3 .image-text .image {
            background: #F6F8FE;
            display: flex;
            height: 40px;
            width: 40px;
            align-items: center;
            justify-content: center;
            border-radius: 25px; }
          .main-content .main-container .second-container .card-3 .image-text .text {
            display: flex;
            flex-direction: column; }
          .main-content .main-container .second-container .card-3 .image-text .main-text {
            font-family: Satoshi;
            color: #7F8899;
            font-weight: 500; }
          .main-content .main-container .second-container .card-3 .image-text span {
            font-size: 12px; }
        .main-content .main-container .second-container .card-3 .image {
          background: #FEF6F6;
          display: flex;
          height: 40px;
          width: 40px;
          align-items: center;
          justify-content: center;
          border-radius: 25px; }
