.main-content {
  margin-left: 0;
  padding-left: 100px;
  padding-right: 0; }

.top-contant {
  display: flex;
  width: 100%;
  height: max-content;
  padding-top: 24px;
  padding-left: 36px;
  padding-right: 36px;
  align-items: center;
  justify-content: space-between; }
  .top-contant h1 {
    margin-bottom: 0; }
  .top-contant .main-text {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: bold; }

.navigation {
  width: 100%;
  height: 30px;
  border-bottom: 2px solid #efefef;
  display: flex;
  flex-direction: row;
  padding: 0 36px;
  margin-top: 1.25rem;
  gap: 50px; }
  .navigation a {
    color: #9d9fac;
    text-decoration: none;
    font-size: 14px; }
    .navigation a:hover {
      color: #000; }
    .navigation a:active {
      color: #000;
      border-bottom: 2px solid #e06a43; }

.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 500px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0); }

.modal.right .modal-content {
  height: 100%;
  overflow-y: auto; }

.modal.right .modal-body {
  padding: 15px 15px 80px; }

.modal.right.fade .modal-dialog {
  right: 0px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out; }

.modal.right.fade.in .modal-dialog {
  right: 0; }

.modal .modal-content {
  padding: 20px; }

.modal .modal-title {
  font-family: General Sans-bold !important; }

.modal .modal-body {
  display: flex;
  flex-direction: column !important; }
  .modal .modal-body .new-button {
    margin-top: 20px;
    background-color: white;
    color: #000;
    border: 1px solid #efefef;
    padding: 10 50px;
    font-family: Satoshi-medium; }
  .modal .modal-body .justify {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .modal .modal-body .justify .or {
      display: flex;
      align-items: center;
      gap: 10px;
      width: 90%;
      margin-top: 20px; }
      .modal .modal-body .justify .or hr {
        width: 100%;
        margin: 0; }
    .modal .modal-body .justify .card {
      padding: 20px;
      text-align: center;
      border: 1px dashed #ccc;
      border-radius: 0.5rem;
      width: 90%;
      height: max-content;
      margin-top: 30px; }
      .modal .modal-body .justify .card img {
        height: 15px;
        margin-top: 20px; }
      .modal .modal-body .justify .card .main-text {
        font-family: General Sans-m;
        margin: 10px 0; }
      .modal .modal-body .justify .card span {
        font-size: 12px; }
      .modal .modal-body .justify .card .buttons {
        display: flex;
        gap: 10px;
        margin: 20px 0;
        justify-content: center; }
        .modal .modal-body .justify .card .buttons button {
          padding: 8px; }
    .modal .modal-body .justify .load {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px; }
    .modal .modal-body .justify .loading {
      border: 5px solid #f3f3f3;
      border-top: 5px solid #e06a43;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      animation: spin 2s linear infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
  .modal .modal-body .manually {
    padding: 0 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .modal .modal-body .manually .form {
      width: 100%;
      margin-top: 30px; }
      .modal .modal-body .manually .form label {
        margin-top: 10px;
        font-family: General Sans-m; }
    .modal .modal-body .manually .text-container {
      width: 100%;
      text-align: start;
      margin-top: 20px;
      display: flex;
      gap: 10px; }
      .modal .modal-body .manually .text-container span {
        color: #7f8899; }
    .modal .modal-body .manually hr {
      width: 100%; }
    .modal .modal-body .manually .btns {
      padding: 0;
      width: 100%;
      display: flex;
      justify-content: end; }

.body-container {
  width: 100%; }
  .body-container .transaction .row {
    margin-right: 0; }
  .body-container .transaction .text {
    font-size: 12px;
    margin-bottom: 20px; }
  .body-container .transaction .col-md-9 {
    border-right: 2px solid #efefef;
    padding-right: 0; }
    .body-container .transaction .col-md-9 .padding {
      padding: 0 36px; }
    .body-container .transaction .col-md-9 .account {
      background-color: #fdf8f6;
      border-bottom: 2px solid #efefef; }
      .body-container .transaction .col-md-9 .account .main-text {
        font-family: General Sans-semibold;
        font-size: 18px;
        padding: 20px 36px; }
    .body-container .transaction .col-md-9 .header {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      margin-bottom: 10px; }
      .body-container .transaction .col-md-9 .header .firstbutoons {
        display: flex;
        gap: 10px;
        background-color: #9d9fac0d;
        border-radius: 0.375rem;
        padding: 0.25rem; }
        .body-container .transaction .col-md-9 .header .firstbutoons .new-button {
          background-color: transparent;
          color: black; }
        .body-container .transaction .col-md-9 .header .firstbutoons .b-2 {
          color: #e06a43;
          border: 1px solid #e06a43; }
  .body-container .transaction .table {
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px; }
    .body-container .transaction .table tbody tr {
      padding: 0.5rem; }
      .body-container .transaction .table tbody tr:hover {
        background-color: #fdf8f6;
        cursor: pointer; }
    .body-container .transaction .table tr {
      display: flex;
      flex-direction: row;
      width: 100%;
      border-bottom: 1px solid #efefef; }
      .body-container .transaction .table tr .name {
        width: 30%; }
      .body-container .transaction .table tr .number {
        width: 20%; }
      .body-container .transaction .table tr th {
        padding: 20px 0;
        border-top: none;
        border-bottom: none; }
        .body-container .transaction .table tr th .th-text {
          padding: 0 10px;
          padding-left: 20px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-right: 2px solid #e1e2e2; }
        .body-container .transaction .table tr th ion-icon {
          cursor: pointer;
          color: #7f8899; }
      .body-container .transaction .table tr td {
        padding: 20px 20px;
        border-top: none;
        font-size: 14px;
        color: #1f2c35;
        font-family: Satoshi-medium; }
  .body-container .transaction .side-image {
    text-align: center; }
    .body-container .transaction .side-image .side {
      display: flex;
      justify-content: center;
      align-items: center; }
    .body-container .transaction .side-image .image {
      height: 300px; }
    .body-container .transaction .side-image .main-text {
      font-family: Satoshi-medium; }
