.body-container {
  display: flex;
  width: 100vw;
  height: 100vh; }

.nav {
  width: 50vw;
  position: absolute;
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 768px) {
    .nav {
      width: 100%; } }
  .nav .logo {
    margin-top: 40px;
    margin-left: 40px; }
  .nav .details {
    margin-top: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end; }

.signUp-container {
  display: flex;
  width: 50vw;
  justify-content: center;
  padding: 0 20px; }
  @media only screen and (max-width: 768px) {
    .signUp-container {
      width: 100%; } }

.signUp-card {
  display: flex;
  width: 400px;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px; }
  .signUp-card .names {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch; }
    .signUp-card .names .name {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
      align-self: stretch; }
  .signUp-card .mobile {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px; }
  .signUp-card .signUp-button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-self: stretch; }

.other-side {
  display: flex;
  width: 50vw;
  background-color: #1E1E2D;
  position: relative; }
  @media only screen and (max-width: 769px) {
    .other-side {
      display: none; } }
  .other-side .text-container {
    width: 492px;
    top: 160px;
    position: absolute; }
  .other-side .side-text {
    width: 100%;
    left: 80px;
    position: absolute;
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    text-transform: capitalize; }
    @media only screen and (max-width: 1024px) {
      .other-side .side-text {
        left: 30px;
        width: 90%; } }
  .other-side .first-image {
    position: absolute;
    top: 78px;
    left: 80px; }
  .other-side .second-image {
    position: absolute;
    right: 0; }
  @media only screen and (max-width: 1024px) {
    .other-side .third-image {
      display: none; } }
  .other-side .third-image .back-image {
    height: 700px;
    bottom: 0;
    right: 0;
    position: absolute; }
    @media only screen and (max-width: 1540px) {
      .other-side .third-image .back-image {
        height: 550px; } }
  .other-side .third-image .upper-image1 {
    position: absolute;
    bottom: 335px;
    right: 0; }
    @media only screen and (max-width: 1540px) {
      .other-side .third-image .upper-image1 {
        bottom: 265px;
        right: 0; } }
    .other-side .third-image .upper-image1 img {
      height: 155px; }
      @media only screen and (max-width: 1540px) {
        .other-side .third-image .upper-image1 img {
          height: 120px; } }
  .other-side .third-image .upper-image2 {
    position: absolute;
    bottom: 50px;
    left: 150px; }
    @media only screen and (max-width: 1540px) {
      .other-side .third-image .upper-image2 {
        bottom: 30px;
        left: 110px; } }
    .other-side .third-image .upper-image2 img {
      height: 270px; }
      @media only screen and (max-width: 1540px) {
        .other-side .third-image .upper-image2 img {
          height: 230px; } }
