@font-face {
  font-family: Satoshi;
  src: url(../font/Satoshi-Regular.ttf); }

@font-face {
  font-family: Satoshi-bold;
  src: url(../font/Satoshi-Bold.ttf);
  font-weight: bold; }

@font-face {
  font-family: Satoshi-medium;
  src: url(../font/Satoshi-Medium.ttf); }

@font-face {
  font-family: General Sans;
  src: url(../font/GeneralSans-Regular.ttf);
  font-weight: normal; }

@font-face {
  font-family: General Sans-semibold;
  src: url(../font/GeneralSans-Semibold.ttf); }

@font-face {
  font-family: General Sans-bold;
  src: url(../font/GeneralSans-Bold.ttf); }

@font-face {
  font-family: General Sans-m;
  src: url(../font/GeneralSans-Medium.ttf); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Satoshi; }
  * ::-webkit-scrollbar {
    width: 5px; }
  * ::-webkit-scrollbar-thumb {
    background: #cdcccc;
    border-radius: 10px; }

.primary-text {
  color: #7f8899;
  font-family: General Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  text-transform: uppercase; }

.main-text {
  color: #1f2c35;
  font-family: General Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 24px; }

p {
  margin-bottom: 0; }

span {
  color: #7f8899;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; }

label {
  color: #7f8899;
  font-size: 12px; }

input {
  width: 100%;
  height: 35px;
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid rgba(127, 136, 153, 0.2);
  outline: none; }
  input:focus {
    border-color: #e06a43; }
  input:active {
    border-color: #e06a43; }
  input:invalid {
    border-color: #e06a43; }

input::placeholder {
  color: #c0c0c0;
  font-size: 14px;
  font-family: Satoshi; }

.input-container {
  position: relative; }
  .input-container input.calendar {
    padding-right: 30px; }
  .input-container ion-icon.calendar-icon {
    position: absolute;
    top: 18px;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    cursor: pointer; }

a {
  color: #e06a43;
  text-decoration: none; }

select {
  width: 100%;
  height: 35px;
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid rgba(127, 136, 153, 0.2);
  outline: none; }
  select:focus {
    border-color: #e06a43; }
  select:active {
    border-color: #e06a43; }
  select:invalid {
    border-color: #e06a43; }
  select option {
    padding: 20px; }

button {
  cursor: pointer;
  display: flex;
  width: max-content;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: #e06a43;
  color: white;
  border: none;
  font-size: 14px; }
  button.primary-button {
    background: #fdf8f6;
    color: #e06a43; }

.modal .modal-header {
  border: none;
  align-items: center;
  border-radius: 0.75rem; }
  .modal .modal-header .modal-title {
    color: #1f2c35;
    font-family: General Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; }
  .modal .modal-header .close {
    background: #f9f8fe;
    border-radius: 25px;
    padding: 0;
    height: 30px;
    width: 30px;
    margin-right: 10px; }
    .modal .modal-header .close span {
      color: black; }
      .modal .modal-header .close span ion-icon {
        font-size: 20px; }

.modal .modal-body span {
  color: #1f2c35;
  font-weight: 500; }

.modal .modal-footer {
  border: none;
  justify-content: space-between; }
  .modal .modal-footer button {
    padding: 5px 10px; }
  .modal .modal-footer a {
    color: #1f2c35;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500; }

.side-nav {
  background-color: #1e1e2d;
  width: 100px;
  min-height: 100vh;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: width 0.3s ease-in-out;
  z-index: 999; }
  .side-nav .menu-names {
    display: none;
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease; }
    .side-nav .menu-names p {
      margin: 0; }
  .side-nav .menu-names2 {
    display: none;
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease; }
    .side-nav .menu-names2 p {
      margin: 0; }
  .side-nav:hover {
    width: 300px; }
    .side-nav:hover .exit-icon {
      display: block; }
    .side-nav:hover .icon {
      width: 100%;
      transform: scale(1);
      justify-content: start;
      padding-left: 20px;
      gap: 20px;
      align-items: center; }
    .side-nav:hover .logo {
      justify-content: start;
      padding-left: 20px; }
    .side-nav:hover .menu-names {
      display: block;
      opacity: 1;
      transform: translateX(0);
      transition-delay: 0.4s;
      transition: opacity 0.3s ease, transform 0.3s ease; }
      .side-nav:hover .menu-names p {
        color: #e06a43; }
    .side-nav:hover .menu-names2 {
      display: block;
      opacity: 1;
      transform: translateX(0);
      transition-delay: 0.6s;
      padding-left: 65px;
      transition: opacity 0.3s ease, transform 0.3s ease; }
      .side-nav:hover .menu-names2 p {
        color: white;
        margin-top: 20px;
        cursor: pointer; }
  @media only screen and (max-width: 768px) {
    .side-nav {
      display: none; } }
  .side-nav .logo {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #2d2d43; }
  .side-nav .icon {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    transition: width 0.3s ease, transform 0.3s ease; }
    .side-nav .icon img {
      height: 25px;
      cursor: pointer; }
  .side-nav .exit-icon {
    width: 100%;
    display: none;
    margin-bottom: 100px;
    text-align: end;
    padding-right: 40px; }
    .side-nav .exit-icon img {
      height: 30px;
      cursor: pointer; }

.main-content {
  padding: 0 20px;
  margin-left: 100px;
  width: 100%; }
  @media only screen and (max-width: 768px) {
    .main-content {
      width: 100%;
      padding: 0 20px;
      margin-left: 0;
      margin-bottom: 100px; } }

.select2-container--default
.select2-selection--multiple
.select2-selection__rendered {
  display: flex !important;
  align-items: center; }

.select2-selection__choice {
  background-color: #e06a43 !important;
  color: white !important;
  padding: 2px 10px !important;
  display: flex !important;
  gap: 10px;
  border-radius: 15px !important;
  border: none !important; }

.select2-results__options {
  padding: 0 10px !important; }

.select2-selection__choice__remove {
  color: white !important;
  margin-right: 0 !important; }

.select2-results__option {
  padding: 10px !important;
  color: black !important;
  border-bottom: 1px solid #efefef !important; }

.select2-container--default
.select2-results__option--highlighted[aria-selected] {
  color: #e06a43 !important;
  background-color: white !important; }

.select2-container--default .select2-results__option[aria-selected="true"] {
  color: #e06a43 !important;
  background-color: white !important; }

.class-link {
  color: #333333;
  text-decoration: none; }

.class-link:hover {
  color: #ffbb00; }

.ui-datepicker {
  background: #ffffff;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; }

.ui-datepicker-header {
  color: #ffffff;
  margin-bottom: 10px; }

.ui-datepicker-prev,
.ui-datepicker-next {
  width: 20px;
  height: 20px;
  text-indent: 9999px;
  border-radius: 100%;
  cursor: pointer;
  overflow: hidden;
  margin-top: 12px; }

.ui-datepicker-prev {
  float: left;
  margin-left: 12px; }

.ui-datepicker-prev:after {
  transform: rotate(45deg);
  margin: -15px 0px 0px 8px; }

.ui-datepicker-next {
  float: right;
  margin-right: 12px; }

.ui-datepicker-next:after {
  transform: rotate(-135deg);
  margin: -15px 0px 0px 6px; }

.ui-datepicker-prev:after,
.ui-datepicker-next:after {
  content: "";
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  border-left: 2px solid #e06a43;
  border-bottom: 2px solid #e06a43; }

.ui-datepicker-title {
  text-align: center;
  line-height: 40px; }

.ui-datepicker-month {
  color: black;
  font-weight: bold; }

.ui-datepicker-year {
  color: black;
  font-weight: bold; }

.ui-datepicker-calendar {
  width: 100%;
  text-align: center; }

.ui-datepicker-calendar thead tr th span {
  display: block;
  width: 38px;
  color: black;
  margin-bottom: 5px;
  font-weight: bold; }

.ui-state-default {
  display: block;
  text-decoration: none;
  color: #333333;
  line-height: 30px;
  font-size: 12px; }

.ui-state-default:hover {
  color: #ffffff;
  background: #e06a43;
  border-radius: 8px;
  transition: all 0.25s cubic-bezier(0.7, -0.12, 0.2, 1.12);
  text-decoration: none; }

.ui-state-highlight {
  color: #ffffff;
  background-color: #e06a43;
  border-radius: 8px; }

.ui-state-active {
  color: #ffffff;
  background-color: #e06a43;
  border-radius: 8px; }

.ui-datepicker-unselectable .ui-state-default {
  color: #eee;
  border: 2px solid transparent; }
