@font-face {
  font-family: Satoshi;
  src: url(../font/Satoshi-Regular.ttf); }

@font-face {
  font-family: General Sans;
  src: url(../font/GeneralSans-Regular.ttf); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Satoshi; }

.primary-text {
  color: #7F8899;
  font-family: General Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase; }

.main-text {
  color: #1F2C35;
  font-family: General Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; }

p {
  margin-bottom: 0; }

span {
  color: #7F8899;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; }

label {
  color: #7F8899;
  font-size: 12px; }

input {
  width: 100%;
  height: 35px;
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid rgba(127, 136, 153, 0.2); }

a {
  color: #E06A43;
  text-decoration: none; }

select {
  width: 100%;
  height: 35px;
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid rgba(127, 136, 153, 0.2); }
  select option {
    padding: 20px; }

button {
  cursor: pointer;
  display: flex;
  width: max-content;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  background: #E06A43;
  color: white;
  border: none; }
  button.primary-button {
    background: #FDF8F6;
    color: #E06A43; }

.modal .modal-header {
  border: none;
  align-items: center; }
  .modal .modal-header .modal-title {
    color: #1F2C35;
    font-family: General Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; }
  .modal .modal-header .close {
    background: #F9F8FE;
    border-radius: 25px;
    padding: 0;
    height: 30px;
    width: 30px;
    margin-right: 10px; }
    .modal .modal-header .close span {
      color: black; }

.modal .modal-body span {
  color: #1F2C35;
  font-weight: 500; }

.modal .modal-footer {
  border: none;
  justify-content: space-between; }
  .modal .modal-footer button {
    padding: 5px 10px; }
  .modal .modal-footer a {
    color: #1F2C35;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500; }
