.full-body {
    display: flex;
}


.side-nav {
    background-color: #1E1E2D;
    width: 100px;
    height: 100vh;

    .logo {
        height: 70px;
        border-bottom: 1px solid #2D2D43;

        img {
            position: relative;
            top: 25px;
            left: 18px;
        }
    }

    .icon {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-top: 40px;

        img {
            height: 30px;
            cursor: pointer;
        }
    }

    .exit-icon {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 200px;

        img {
            height: 30px;
            cursor: pointer;
        }
    }
}

.main-content {
    width: 100%;
    padding: 0 100px;

    .rectangle {
        height: 115px;
        border-bottom: 2px solid #EFEFEF;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .text {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .main-text {
            font-size: 25px;
        }
    }

    .container {
        display: flex;

        .main-side-container {
            width: 30%;
            height: 875px;
            border-right: 2px solid #EFEFEF;

            .top-name {
                display: flex;
                align-items: center;
                gap: 8px;
                padding: 30px 0;
            }

            .side-button {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 20px;

                .card {
                    width: 90%;
                    border-radius: 8px;
                    border: 1px solid #EFEFEF;
                    background: #FFF;
                    padding: 20px 30px;

                    .main-text {
                        font-family: Satoshi;
                        font-weight: 700;
                    }
                }
            }
        }

        .second-container {
            margin-top: 75px;
            margin-left: 75px;

            .text {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }

            .main-text {
                font-family: Satoshi;
                font-weight: 700;
                font-size: 20px;
            }

            .card-container {
                display: inline-flex;
                flex-direction: column;
                gap: 20px;
                margin-top: 40px;

                .main-text {
                    font-size: 14px;
                }

                .card-main {
                    display: inline-flex;
                    gap: 20px;

                    img {
                        height: max-content;
                        position: relative;
                        top: 10px;
                    }
                }
                button{
                    margin-top: 10px;
                    width: auto;
                }
            }
        }
    }
}