.body-container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.logo {
    margin-top: 40px;
    margin-left: 40px;
    width: max-content;
    position: absolute;
}

.otp-container {
    display: flex;
    width: 50vw;
    justify-content: center;
    padding: 0 20px;  

    @media only screen and (max-width: 768px) {
        width: 100%;
    }
}

.otp-card {
    display: flex;
    width: 400px;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;

    .first-section {
        gap: 32px;
        display: flex;
        flex-direction: column;

        .check-boxs {
            display: inline-flex;
            flex-direction: row;
            gap: 10px;

            .check-box {
                width: 40px;
                padding: 0;
                text-align: center;
            }
        }
    }
    .resend-text{
        margin-top: 20px;

        .second-line{
            color: #E06A43;
        }
    }    

    .Proceed-button-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-self: stretch;
        margin-top: 30px;

        .back-login{
            color: #7F8899;
            align-items: center;
            display: flex;
            text-decoration: none;
        }
    }
}

.other-side {
    display: flex;
    width: 50vw;
    background-color: #1E1E2D;
    position: relative;

    @media only screen and (max-width: 769px) {
        display: none;
    }


    .text-container {
        width: 492px;
        top: 160px;
        position: absolute;
    }

    .side-text {
        width: 100%;
        left: 80px;
        position: absolute;
        color: #FFF;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px;
        text-transform: capitalize;
        @media only screen and (max-width: 1024px) {
                left: 30px;
                width: 90%;
            }
    }

    .first-image {
        position: absolute;
        top: 78px;
        left: 80px;
    }

    .second-image {
        position: absolute;
        right: 0;
    }

    .third-image {
        @media only screen and (max-width: 1024px) {
            display: none;
        }

        .back-image {
            height: 700px;
            bottom: 0;
            right: 0;
            position: absolute;

            @media only screen and (max-width: 1540px) {
                height: 550px;
            }
        }

        .upper-image1 {
            position: absolute;
            bottom: 335px;
            right: 0;

            @media only screen and (max-width: 1540px) {
                bottom: 265px;
                right: 0;
            }

            img {
                height: 155px;

                @media only screen and (max-width: 1540px) {
                    height: 120px;
                }
            }
        }

        .upper-image2 {
            position: absolute;
            bottom: 50px;
            left: 150px;

            @media only screen and (max-width: 1540px) {
                bottom: 30px;
                left: 110px;
            }

            img {
                height: 270px;

                @media only screen and (max-width: 1540px) {
                    height: 230px;
                }
            }
        }
    }
}