.main-content {
  margin-left: 0;
  padding-left: 100px;
  padding-right: 0;
}

.top-contant {
  display: flex;
  width: 100%;
  height: max-content;
  padding-top: 24px;
  padding-left: 36px;
  padding-right: 36px;
  align-items: center;
  justify-content: space-between;

  h1 {
    margin-bottom: 0;
  }

  .main-text {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: bold;
  }
}

.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 500px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.right .modal-body {
  padding: 15px 15px 80px;
}

.modal.right.fade .modal-dialog {
  right: 0px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
  right: 0;
}

.modal {
  .modal-content {
    padding: 20px;
  }

  .modal-title {
    font-family: General Sans-bold !important;
  }

  .modal-body {
    display: flex;
    flex-direction: column !important;

    .card{
        border: none !important;
    }

    .card-header{
        background-color: transparent !important;
        border-bottom: 1px solid #7f8899;
        padding: 0;
        
        span{
            justify-content: space-between;
                display: flex;
                width: 100%;
                align-items: center;
            color: #000;
            font-size: 16px;
            padding: 20px 0;
            font-family: General Sans-semibold;
        }
    }
    .card-body{
        padding: 0;
        margin: 20px 0; 

        .radio-buttons {
            margin-top: 20px;
                display: flex;
                flex-direction: row;
                color: white;
                gap: 10px;
            }
        
            .radio-button {
                display: flex;
                align-items: center;
                cursor: pointer;
            }
        
            .radio-button input[type="radio"] {
                display: none;
            }
        
            .radio-circle {
                width: 20px;
                height: 20px;
                border-radius: 8px;
                border: 1px solid #aaa;
                position: relative;
                margin-right: 10px;
            }
        
            .radio-circle::before {
                content: "";
                display: block;
                width: 20px;
                height: 20px;
                border-radius: 8px;
                background-color: #ddd;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) scale(0);
                transition: all 0.2s ease-in-out;
            }
        
            .radio-button input[type="radio"]:checked+.radio-circle::before {
                transform: translate(-50%, -50%) scale(1);
            }
        
            .radio-button:nth-of-type(1) input[type="radio"]:checked+.radio-circle::before {
                background-color: #e06a43;
            }
                        .radio-button:nth-of-type(2) input[type="radio"]:checked+.radio-circle::before {
                            background-color: #e06a43;
                        }
        
            .radio-label {
                font-size: 14px;
                font-family: Satoshi-medium;
            }

            form{
                margin-top: 40px;
                gap: 30px;
                display: flex;
                flex-direction: column;
            }

    }
    .modal-bottam{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        bottom: 0;
        width: 95%;

        h6{
            font-size: 14px;
            font-family: Satoshi-medium;
            margin: 0;
            cursor: pointer;
        }
    }
  }
}

.body-container {
  width: 100%;

  .transaction {
    .row {
      margin-right: 0;
    }

    .text {
      font-size: 12px;
      margin-bottom: 20px;
    }

    .col-md-9 {
      border-right: 2px solid #efefef;
      padding-right: 0;

      .payes {
        padding: 0 36px;

        .header {
          display: flex;

          .payee {
            display: flex;
            align-items: center;
            gap: 10px;

            span {
              font-family: General Sans-semibold;
              font-size: 12px;
            }

            hr {
              width: 20px;
              margin: 0;
            }
          }
        }
        .payes-body {
          width: 80%;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .view {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            p {
              font-size: 12px;
              font-family: General Sans-m;
            }
          }

          .viewall {
            height: 20px;
            width: 20px;
            background-color: #fbf2e6;
            color: #e06a43;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 25px;
          }

          .cards {
            display: flex;
            gap: 30px;
          }
          .card {
            width: max-content;
            border: none !important;
            align-items: center;
            text-align: center;
            cursor: pointer;

            .top2 {
              display: flex;
              width: 50px;
              height: 50px;
              background-color: #fbf2e6;
              color: #8e6a3a;
              justify-content: center;
              align-items: center;
              border-radius: 25px;
            }

            .top {
              display: flex;
              width: 50px;
              height: 50px;
              background-color: #faf4f2;
              color: #e06a43;
              justify-content: center;
              align-items: center;
              border-radius: 25px;
            }
            h6 {
              margin: 0;
              font-size: 18px;
              font-family: Satoshi-medium;
            }
            .card-body {
              padding: 10px;
              p {
                font-family: Satoshi-medium;
                font-size: 12px;
              }
              span {
                font-size: 10px;
              }
            }
          }
        }
      }

      .padding {
        padding: 0 36px;
        margin-top: 30px;

        .pay {
          display: flex;
          align-items: center;
          gap: 10px;

          span {
            font-family: General Sans-semibold;
            font-size: 12px;
          }

          hr {
            width: 20px;
            margin: 0;
          }
        }
      }

      .account {
        background-color: #fdf8f6;
        border-bottom: 2px solid #efefef;

        .main-text {
          font-family: General Sans-semibold;
          font-size: 18px;
          padding: 20px 36px;
        }
      }

      .header {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 10px;

        .firstbutoons {
          display: flex;
          gap: 10px;
          background-color: #9d9fac0d;
          border-radius: 0.375rem;
          padding: 0.25rem;

          .new-button {
            background-color: transparent;
            color: black;
          }

        }
      }
    }

    table {
      box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
      width: 100%;

      thead {
        td {
          font-size: 12px;
          padding: 30px 20px;
          border-top: none;
          color: #7f8899;
          font-family: Satoshi-medium;
        //   border-right: 2px solid #e1e2e2;
        }
      }

      tbody {
        tr {
          &:hover {
            background-color: #fdf8f6;
            cursor: pointer;
          }
          td {
            padding: 30px 20px;
            border-top: none;
            font-size: 14px;
            color: #1f2c35;
            font-family: Satoshi-medium;
          }
        }
      }

      tr {
        width: 100%;
        border-bottom: 1px solid #efefef;

        // th {
        //   padding: 20px 0;
        //   border-top: none;
        //   border-bottom: none;

        //   .th-text {
        //     padding: 0 10px;
        //     display: flex;
        //     justify-content: space-between;
        //     align-items: center;
        //   }

        //   ion-icon {
        //     cursor: pointer;
        //     color: #7f8899;
        //   }
        // }
      }
    }

    .side-image {
      text-align: center;

      .side {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .image {
        height: 300px;
      }

      .main-text {
        font-family: Satoshi-medium;
      }
    }
  }
}
