.full-body {
    display: flex;
}


.side-nav {
    background-color: #1E1E2D;
    width: 100px;
    height: 100vh;
    @media only screen and (max-width: 768px) {
            display: none;
        }

    .logo {
        height: 70px;
        border-bottom: 1px solid #2D2D43;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icon {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-top: 40px;

        img {
            height: 30px;
            cursor: pointer;
        }
    }

    .exit-icon {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 200px;

        img {
            height: 30px;
            cursor: pointer;
        }
    }
}

.main-content {
    width: 100%;
    padding: 0 20px;

    .rectangle {
        height: 115px;
        border-bottom: 2px solid #EFEFEF;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .text {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .main-text {
            font-size: 25px;
        }

                 @media only screen and (max-width: 768px) {
                     img{
                        display: none;
                     }

                     .main-text{
                        font-size: 15px;
                     }
                 }
    }

    .main-container {
        display: flex;

        @media only screen and (max-width: 768px) {
                display: block;
            }

        .main-side-container {
            width: 20%;
            height: 875px;
            border-right: 2px solid #EFEFEF;

            @media only screen and (max-width: 768px) {
                    width: 100%;
                    border-right: none;
                    height: auto;
                }

            .top-name {
                display: flex;
                align-items: center;
                gap: 8px;
                padding: 30px 0;
            }

            .side-button {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 20px;

                .card-1 {
                    width: 90%;
                    border-radius: 8px;
                    border: 1px solid #EFEFEF;
                    background: #FFF;
                    @media only screen and (max-width: 768px) {
                            width: 100%;
                        }

                    .text {
                        padding: 20px 30px;
                        gap: 10px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                    }

                    .main-text {
                        font-family: Satoshi;
                        font-weight: 700;
                    }
                }

                .card-2 {
                    width: 90%;
                    border-radius: 8px;
                    border: 1px solid #EFEFEF;
                    background: #FFF;
                    @media only screen and (max-width: 768px) {
                            width: 100%;
                        }

                    .text {
                        padding: 20px 30px;
                        gap: 10px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                    }

                    .main-text {
                        font-family: Satoshi;
                        font-weight: 700;
                    }

                }

                .card-3 {
                    width: 90%;
                    height: 110px;
                    border-radius: 8px;
                    border: 1px solid #E06A43;
                    background: #FFF;
                    @media only screen and (max-width: 768px) {
                            width: 100%;
                        }

                    .text {
                        padding: 20px 30px;
                        gap: 10px;
                        display: flex;
                        flex-direction: column;
                    }

                    .main-text {
                        font-family: Satoshi;
                        font-weight: 700;
                    }

                    .progress-bar {
                        position: relative;
                        height: 4px;
                        width: 100%;
                        background: #eaeaea;
                        border-radius: 25px;
                        margin-top: 5.5px;
                    }

                    .progress-fill {
                        position: absolute;
                        height: 4px;
                        width: 50%;
                        background: linear-gradient(270deg, #E06A43 10.34%, #EFC5B8 102.72%);
                        border-radius: 15px;
                    }
                }
            }
        }

        .second-container {
            padding-top: 0px;
            padding-left: 75px;
            width: 80%;
            @media only screen and (max-width: 768px) {
                    width: 100%;
                    padding-left: 0;
                    padding-top: 30px;
                    margin-bottom: 30px;
                }

            .card-2 {
                border-radius: 8px;
                border: 1px solid #EFEFEF;
                background: #fff;
                margin-top: 30px;

                .card-body{
                    padding: 0;
                    display: none;
                }

                .detail-button{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 20px;

                    .my-button{
                        color: #2D2D43;
                        background: white;
                        font-size: 14px;
                        border-radius: 8px;
                        border: 1px solid rgba(127, 136, 153, 0.20);
                    }
                }

                .loading {
                        border: 5px solid #f3f3f3;
                        border-top: 5px solid #E06A43;
                        border-radius: 50%;
                        width: 30px;
                        height: 30px;
                        animation: spin 2s linear infinite;
                    }
                
                    @keyframes spin {
                        0% {
                            transform: rotate(0deg);
                        }
                
                        100% {
                            transform: rotate(360deg);
                        }
                    }

                .padding {
                    padding: 15px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                .main-card-body{
                    padding: 0 15px 15px 15px;


                    .hr {
                        display: flex;
                        gap: 15px;
                        align-items: center;


                        hr {
                            width: 100%;
                        }
                    }

                    .row {
                        margin-top: 10px;

                        .text-container {
                            display: flex;
                            gap: 10px;
                        }
                    }

                    .button2 {
                        padding: 0;
                        display: flex;
                        justify-content: end;
                        padding: 15px;

                    }
                }
                


                .image-text {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;

                    img {
                        background-color: #FFF1EC;
                        border-radius: 25px;
                        padding: 10px;
                    }

                    .text {
                        display: flex;
                        flex-direction: column;
                    }

                    .main-text {
                        font-family: Satoshi;
                        font-weight: 500;
                    }

                    span {
                        font-size: 12px;
                    }
                }

                .pic-upload {
                    margin: 30px 0;
                    display: flex;
                    width: 100%;
                    padding: 16px 24px;
                    border-radius: 8px;
                    border: 1px dashed rgba(127, 136, 153, 0.50);
                    justify-content: space-between;

                    @media only screen and (max-width: 768px) {
                            display: block;
                        }

                    .image-text1 {
                        display: flex;
                        flex-direction: row;
                        gap: 10px;
                        width: 100%;


                        .text {
                            display: flex;
                            flex-direction: column;
                        }

                        .main-text {
                            font-family: Satoshi;
                            font-weight: 500;
                            font-size: 14px;
                        }

                        span {
                            font-size: 12px;
                        }

                    }
                }

                .button {
                    display: flex;
                    flex-direction: row;
                    gap: 15px;
                    @media only screen and (max-width: 768px) {
                            margin-top: 20px;
                        }
                }
            }

            .cards-3 {
                border-radius: 8px;
                border: 1px solid #EFEFEF;
                padding: 15px;
                margin-top: 30px;
                margin-bottom: 30px;

                .main-card-body2{
                    display: none;
                }

                .drop-down1 {
                    margin-top: 30px;
                    margin-left: 40px;

                    select {
                        height: auto;
                    }
                }

                .card-main {
                    justify-content: space-between;
                    align-items: center;
                    display: flex;
                }

                .image-text1 {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;

                    .lock-image {
                        background: #F6F8FE;
                        display: flex;
                        height: 40px;
                        width: 40px;
                        align-items: center;
                        justify-content: center;
                        border-radius: 25px;
                    }

                    .text {
                        display: flex;
                        flex-direction: column;
                    }

                    .main-text {
                        font-family: Satoshi;
                        color: #7F8899;
                        font-weight: 500;
                    }

                    span {
                        font-size: 12px;
                    }
                }

                .image {
                    background: #FEF6F6;
                    display: flex;
                    height: 40px;
                    width: 40px;
                    align-items: center;
                    justify-content: center;
                    border-radius: 25px;

                }

                .bottom-button{
                    display: flex;
                    gap: 20px;
                    align-items: center;
                    justify-content: end;

                    a{
                        font-size: 14px;
                        text-decoration: none;
                        color: #000;
                    }
                }
            }

            .card-4 {
                border-radius: 8px;
                border: 1px solid #EFEFEF;
                padding: 15px;
                margin-top: 30px;
                margin-bottom: 30px;

                .main-card-body3{
                    display: none;

                    .bottom-button {
                            display: flex;
                            align-items: center;
                            justify-content: end;
                        }
                }

                .drop-down2 {
                    margin-top: 30px;
                    margin-left: 40px;

                    select {
                        height: auto;

                        option{
                            width: 100%;
                            padding: 30px;
                            border-bottom: 1px solid #2D2D43;
                        }
                    }
                }

            }

            .card-main {
                justify-content: space-between;
                align-items: center;
                display: flex;
            }

            .image-text2 {
                display: flex;
                flex-direction: row;
                gap: 10px;

                .image {
                    background: #F6F8FE;
                    display: flex;
                    height: 40px;
                    width: 40px;
                    align-items: center;
                    justify-content: center;
                    border-radius: 25px;
                }

                .text {
                    display: flex;
                    flex-direction: column;
                }

                .main-text {
                    font-family: Satoshi;
                    color: #7F8899;
                    font-weight: 500;
                }

                span {
                    font-size: 12px;
                }
            }

            .lock-image {
                background: #FEF6F6;
                display: flex;
                height: 40px;
                width: 40px;
                align-items: center;
                justify-content: center;
                border-radius: 25px;

            }
        }
    }
}