.main-content {
  margin-left: 0;
  padding-left: 100px;
  padding-right: 0;
}

.top-contant {
  display: flex;
  width: 100%;
  height: max-content;
  padding-top: 24px;
  padding-left: 36px;
  padding-right: 36px;
  align-items: center;
  justify-content: space-between;

  h1 {
    margin-bottom: 0;
  }

  .main-text {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: bold;
  }
}


.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 500px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.right .modal-body {
  padding: 15px 15px 80px;
}

.modal.right.fade .modal-dialog {
  right: 0px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
  right: 0;
}

.modal {
  .modal-content {
    padding: 20px;
  }

  .modal-title {
    font-family: General Sans-bold !important;
  }

  .modal-body {
    display: flex;
    flex-direction: column !important;

    .new-button {
      margin-top: 20px;
      background-color: white;
      color: #000;
      border: 1px solid #efefef;
      padding: 10 50px;
      font-family: Satoshi-medium;
    }

    .justify {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .or {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 90%;
        margin-top: 20px;

        hr {
          width: 100%;
          margin: 0;
        }
      }

      .card {
        padding: 20px;
        text-align: center;
        border: 1px dashed #ccc;
        border-radius: 0.5rem;
        width: 90%;
        height: max-content;
        margin-top: 30px;

        img {
          height: 15px;
          margin-top: 20px;
        }

        .main-text {
          font-family: General Sans-m;
          margin: 10px 0;
        }

        span {
          font-size: 12px;
        }

        .buttons {
          display: flex;
          gap: 10px;
          margin: 20px 0;
          justify-content: center;

          button {
            padding: 8px;
          }
        }
      }
      .load {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
      }

      .loading {
        border: 5px solid #f3f3f3;
        border-top: 5px solid #e06a43;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        animation: spin 2s linear infinite;
      }
      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }

        100% {
          transform: rotate(360deg);
        }
      }
    }
    .manually {
      padding: 0 20px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .form {
        width: 100%;
        margin-top: 30px;

        label {
          margin-top: 10px;
          font-family: General Sans-m;
        }
      }
      .text-container {
        width: 100%;
        text-align: start;
        margin-top: 20px;
        display: flex;
        gap: 10px;

        span {
          color: #7f8899;
        }
      }
      hr {
        width: 100%;
      }
      .btns {
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: end;
      }
    }
  }
}

.body-container {
  width: 100%;

  .transaction {
    .row {
      margin-right: 0;
    }

    .text {
      font-size: 12px;
      margin-bottom: 20px;
    }

    .col-md-9 {
      border-right: 2px solid #efefef;
      padding-right: 0;

      .padding {
        padding: 0 36px;
      }

      .account {
        background-color: #fdf8f6;
        border-bottom: 2px solid #efefef;

        .main-text {
          font-family: General Sans-semibold;
          font-size: 18px;
          padding: 20px 36px;
        }
      }

      .header {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 10px;

        .firstbutoons {
          display: flex;
          gap: 10px;
          background-color: #9d9fac0d;
          border-radius: 0.375rem;
          padding: 0.25rem;

          .new-button {
            background-color: transparent;
            color: black;
          }

          .b-2 {
            color: #e06a43;
            border: 1px solid #e06a43;
          }
        }
      }
    }

    .table {
      box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;

      tbody {
        tr {
          padding: 0.5rem;

          &:hover {
            background-color: #fdf8f6;
            cursor: pointer;
          }
        }
      }

      tr {
        display: flex;
        flex-direction: row;
        width: 100%;
        border-bottom: 1px solid #efefef;

        .name {
          width: 30%;
        }

        .number {
          width: 20%;
        }

        th {
          padding: 20px 0;
          border-top: none;
          border-bottom: none;

          .th-text {
            padding: 0 10px;
            padding-left: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-right: 2px solid #e1e2e2;
          }

          ion-icon {
            cursor: pointer;
            color: #7f8899;
          }
        }

        td {
          padding: 20px 20px;
          border-top: none;
          font-size: 14px;
          color: #1f2c35;
          font-family: Satoshi-medium;
        }
      }
    }

    .side-image {
      text-align: center;

      .side {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .image {
        height: 300px;
      }
      .main-text{
        font-family: Satoshi-medium;
      }
    }
  }
}
